header
    .header-top
        .inner
            .hamburger.hamburger--arrow
                .hamburger-box
                    .hamburger-inner
            .con-fl.header-1
                a(href="#").logo CтройСыпСнаб
            .con-fl.header-2
                .header-top-mid
                    p Доставка сыпучих и строительных материалов. Аренда спецтехники.
                        br
                        | Демонтаж зданий и вывоз мусора. Бурение скважин. Работаем в Ижевске и по Удмуртии.
                    ul
                        li
                            a(href="#") СЫПУЧИЕ МАТЕРИАЛЫ
                        li
                            a(href="#") УДОБРЕНИЯ
                        li
                            a(href="#") ДОСКА/БРУС/ДРОВА
                        li
                            a(href="#") ДРУГИЕ УСЛУГИ
                        li
                            a(href="#") ЦЕНЫ
                        li
                            a(href="#") КОНТАКТЫ
            .con-fl.header-3
                .calls
                    p пн-вс с 6.00 до 23.00
                    p.p-bold 8 (950) 164-11-64
                    a(href="#") заказать звонок
    .header-slider
        ul#header-slider.header-slider-ul.gallery.content-slider.list-unstyled.clearfix
            li.slider-list.slider-list-1
                .inner
                    .container-fluid
                        .row
                            .col-md-6.header-sp
                                h1 Доставим материал
                                    br
                                    span  сегодня
                                        br
                                        |  или в указанный срок
                                a(href="#").btn.btn-red помощь в выборе
                            .col-md-6
                                .form-pink.form-white.form-block
                                    h4 узнайте СТОИМОСТЬ услуги
                                    form.form-shake
                                        select.select-sp
                                            option Выберите материал
                                        select.select-sp
                                            option Объем материала
                                        .field
                                            input(type="text" name="where" placeholder="Укажите куда доставить" required)
                                        .field
                                            input(type="text" name="phone" placeholder="Телефон для связи" required)
                                        button.btn.btn-tr(name="send") рассчитать
            li.slider-list.slider-list-2
                .inner
                    .container-fluid
                        .row
                            .col-md-6.header-sp
                                h1
                                    span привезем
                                    br
                                    |  в полном объеме
                                a(href="#").btn.btn-red помощь в выборе
                            .col-md-6
                                .form-pink.form-white.form-block
                                    h4 узнайте СТОИМОСТЬ услуги
                                    form.form-shake
                                        select.select-sp
                                            option Выберите материал
                                        select.select-sp
                                            option Объем материала
                                        .field
                                            input(type="text" name="where" placeholder="Укажите куда доставить" required)
                                        .field
                                            input(type="text" name="phone" placeholder="Телефон для связи" required)
                                        button.btn.btn-tr(name="send") рассчитать
            li.slider-list.slider-list-3
                .inner
                    .container-fluid
                        .row
                            .col-md-6.header-sp
                                h1
                                    span  оплата
                                    br
                                    |  наличными или
                                    br
                                    |  по карте
                                a(href="#").btn.btn-red помощь в выборе
                            .col-md-6
                                .form-pink.form-white.form-block
                                    h4 узнайте СТОИМОСТЬ услуги
                                    form.form-shake
                                        select.select-sp
                                            option Выберите материал
                                        select.select-sp
                                            option Объем материала
                                        .field
                                            input(type="text" name="where" placeholder="Укажите куда доставить" required)
                                        .field
                                            input(type="text" name="phone" placeholder="Телефон для связи" required)
                                        button.btn.btn-tr(name="send") рассчитать


