doctype html
html.no-js(lang='ru')
    include _head
    body
        include _header
        section.content
            .inner
                .container-fluid
                    .row
                        .col-sm-12
                            .bread-crumbs
                                a(href="#") Главная
                                span >
                                a(href="#") Сыпучие материалы
                                span >
                                a(href="#") Щебень
                    .row
                        .col-sm-4
                            .content-item
                                .content-item-head
                                    h3 ГРАНИТНЫЙ
                                    p Это щебень из твердой гоной породы зернистого строения, которая является самой распространенной на Земле. Гранитная скала представляет собой магму, застывшую на больших глубинах
                                img(src="img/raster/catalog1.jpg")
                        .col-sm-4
                            .content-item
                                .content-item-head
                                    h3 ЩПС
                                    p Это комбинированный строительный материал, имеющий природное происхождение из смеси щебня и песка
                                img(src="img/raster/catalog2.jpg")
                        .col-sm-4
                            .content-item
                                .content-item-head
                                    h3 ДОЛОМИТОВЫЙ
                                    p Доломитовый щебень добывается из горной породы доломита, являющейся осадочной, путем его дробления
                                img(src="img/raster/catalog3.jpg")
                        .col-sm-4
                            .content-item
                                .content-item-head
                                    h3 ГРАВИЙНЫЙ
                                    p Щебень, получаемый путем просеивания карьерной породы, а также путем дробления природной каменноый скалы. По прочности гравийный щебень уступает гранитному щебню, но есть и преимущества - радиоактивный фон его обычно низкий и цена ниже, чем на гранитный.
                                img(src="img/raster/catalog4.jpg")
                        .col-sm-4
                            .content-item
                                .content-item-head
                                    h3 ИЗВЕСТНЯКОВЫЙ
                                    p Продукт дробления осадочной горной породы - известняка, состоящего, главным образом, из кальцита
                                img(src="img/raster/catalog5.jpg")
                        .col-sm-4
                    .row
                        .col-md-12
                            .content-table
                                table(width="100%")
                                    tr
                                        th(width="60%") Материал
                                        th(width="20%") Ед.изм.
                                        th(width="20%") Цена
                                    tr
                                        td(width="60%") Песок карьерный
                                        td(width="20%") т
                                        td(width="20%") 250 руб
                                    tr
                                        td(width="60%") Песок карьерный намывной
                                        td(width="20%") т
                                        td(width="20%") 300 руб
                                    tr
                                        td(width="60%") Песок морской
                                        td(width="20%") т
                                        td(width="20%") 350 руб
                                    tr
                                        td(width="60%") Песок карьерный (супесь)
                                        td(width="20%") т
                                        td(width="20%") 150 руб
                                    tr
                                        td(width="60%") Керамзитовый гравий
                                        td(width="20%") м3
                                        td(width="20%") 2000 руб
                                    tr
                                        td(width="60%") Булыжник
                                        td(width="20%") т
                                        td(width="20%") 350 руб
                                    tr
                                        td(width="60%") Отсев
                                        td(width="20%") т
                                        td(width="20%") 450 руб
                                    tr
                                        td(width="60%") Бой кирпича
                                        td(width="20%") т
                                        td(width="20%") 300 руб
                                    tr
                                        td(width="60%") Бой бетона
                                        td(width="20%") т
                                        td(width="20%") 350 руб
                                    tr
                                        td(width="60%") Щебень гранитный
                                        td(width="20%") т
                                        td(width="20%") 650 руб
        section.choose
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            h2.h2-sp Какой щебень выбрать
                    .row
                        .col-sm-4
                            .choose-item
                                h4 ДЛЯ ПРОИЗВОДСТВА БЕТОНА
                                p Фракция
                                    br
                                    | Предпочтительно гранитного щебня
                        .col-sm-4
                            .choose-item.choose-item-mod
                                h4 ДЛЯ ДОРОЖНОГО СТРОИТЕЛЬСТВА
                                p Фракция 25-60, 40-70
                                    br
                                    | Гранитного щебня, гравийного щебня
                        .col-sm-4
                            .choose-item
                                h4 ДЛЯ ФУНДАМЕНТА
                                p Фракция 20-40
                                    br
                                    | Предпочтительно гранитного щебня
                    .row
                        .col-md-12
                            a.btn.btn-red(href="#") ВЫБРАТЬ ЩЕБЕНЬ
        section.kam-slider.kam-slider-mod
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            h2 Доставку осуществляем своим траспортом
            ul#k-slider.gallery.content-slider.list-unstyled.clearfix
                li
                    .img-cont
                        img(src="img/raster/kamaz.png")
                li
                    .img-cont
                        img(src="img/raster/kamaz.png")
                li
                    .img-cont
                        img(src="img/raster/kamaz.png")
                li
                    .img-cont
                        img(src="img/raster/kamaz.png")
                li
                    .img-cont
                        img(src="img/raster/kamaz.png")
                li
                    .img-cont
                        img(src="img/raster/kamaz.png")
                li
                    .img-cont
                        img(src="img/raster/kamaz.png")
                li
                    .img-cont
                        img(src="img/raster/kamaz.png")
                li
                    .img-cont
                        img(src="img/raster/kamaz.png")
                li
                    .img-cont
                        img(src="img/raster/kamaz.png")

        section.best
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            h2.h2-sp Где применяют
                            .best-content
                                ul
                                    p Можно купить в
                                    li в жилом, дорожном строительстве
                                    li при создании инженерных сооружений
                                    li для изготовления желехных изделий
                                    p Также щебень с доставкой заказывают для:
                                    li отсыпки насыпей
                                    li устройства дренажных систем
                                    li формирования рельефа на выбранных участках
                    .row
                        .col-md-12
                            h2.h2-sp Выбирайте лучших!
                            .best-content
                                p Обратившись в нашу организацию, вы можете купить
                                ol
                                    li Доступная стоимость составов, смесей, грунтов и вторичного сырья. Гарантируем невысокие цены за куб щебня.
                                    li Широкий ассортимент благодаря сотрудничеству с местными карьерами и перерабатываюшими предприятиями.
                                    li Доставка по мегаполису и области в течении суток после обработки заказа.
                                    li Отсутсвие задержек и простоев.
                                    li Выполнение комплекса земляных работ(выемка и перемещение грунта, отрывка траншей, устройство дренажей, подготовка оснований под строительство и пр.), аренда спецтехники.
                                    li Помощь персонального менеджера.
                                p Свяжитесь с нами, уточнить, сколько стоит необходимый вам материал или услуга, и купить щебень
        include _footer