doctype html
html.no-js(lang='ru')
    include _head
    body
        include _header
        section.delivery.pad-sp
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            h2 Доставим напрямую с нашего производства
                    .row
                        .col-lg-3.col-sm-6
                            .del-item.del-item-1
                                h3 СЫпучие
                                    br
                                    |материалы
                                ol
                                    li
                                        span Песок карьерный
                                        |- от 500 руб.
                                    li
                                        span Песок речной
                                        | - от 500 руб.
                                    li
                                        span ПГС карьерный
                                        | - от 500 руб.
                                    li
                                        span ПГС речной
                                        | - от 500 руб.
                                    li
                                        span ОПГС карьерный
                                        | - от 500 руб.
                                    li
                                        span ОПГС
                                        | - от 500 руб.
                                    li
                                        span Глина
                                    li
                                        span Грунт строительный
                        .col-lg-3.col-sm-6
                            .del-item.del-item-2
                                h3 СЫпучие
                                    br
                                    |стройматериалы
                                ol
                                    li
                                        span Гравий
                                        ul
                                            li
                                                span 5-20
                                                | - от 500 руб.
                                            li
                                                span 20-40
                                                | - от 500 руб.
                                            li
                                                span 40-100
                                                | - от 500 руб.
                                    li
                                        span Шлак
                                        ul
                                            li
                                                span 0-20
                                                |- от 500 руб.
                                            li
                                                span 20-70
                                                |- от 500 руб.
                                            li
                                                span 70-120
                                                |- от 500 руб.
                                    li
                                        span Щебень гранитный
                                        ul
                                            li
                                                span 5-20
                                                | - от 500 руб.
                                            li
                                                span 20-40
                                                | - от 500 руб.
                                    li
                                        span Щебень доломитовый
                                        ul
                                            li
                                                span 5-20
                                                | - от 500 руб.
                                            li
                                                span 20-40
                                                | - от 500 руб.
                                    li
                                        span Щебень известняковый
                                        ul
                                            li - от 500 руб.
                                    li
                                        span Асфальтовая крошка
                                    li
                                        span Бой кирпича

                        .col-lg-3.col-sm-6
                            .del-item.del-item-3
                                h3 удобрения
                                ol
                                    li
                                        span Навоз
                                        | - от 500 руб.
                                    li
                                        span Перегной
                                        | - от 500 руб.
                                    li
                                        span Торф
                                        | - от 500 руб.
                                    li
                                        span Торф фрезерованный
                                        ul
                                            li
                                                | - от 500 руб.
                                    li
                                        span Чернозем
                                        | - от 500 руб.
                                    li
                                        span Грунт
                                        | - от 500 руб.
                        .col-lg-3.col-sm-6
                            .del-item.del-item-4
                                h3 пиломатериалы
                                    br
                                    |и дрова
                                ol
                                    li
                                        span Дрова колотые
                                        | - от 500 руб.
                                    li
                                        span Дрова тюльки
                                        | - от 500 руб.
                                    li
                                        span Дрова бревна
                                        | - от 500 руб.
                                    li
                                        span Дрова горбыль
                                        | - от 500 руб.
                                    li
                                        span Доска необрезанная
                                        ul
                                            li
                                                | - от 500 руб.
                                    li
                                        span Доска обрезанная
                                        | - от 500 руб.
                                    li
                                        span Брус обрезной
                                        | - от 500 руб.
        section.services.pad-sp
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            h2 Дополнительные услуги
                    .row
                        .col-lg-3.col-sm-6
                            .del-item.dop-item.dop-item-1
                                h3 демонтаж,
                                    br
                                    |снос зданий
                                ol
                                    li
                                        span Демонтаж частных домов
                                    li
                                        span Бетонных конструкций
                                    li
                                        span Внутри зданий
                                    li
                                        span Дымовых труб
                                    li
                                        span Ангаров
                                    li
                                        span Металлоконструкций
                                    li
                                        span Мостов
                                    li
                                        span Резервуаров
                                    li
                                        span Вывоз строительного мусора
                        .col-lg-3.col-sm-6
                            .del-item.dop-item.dop-item-2
                                h3 водоснабжение
                                ol
                                    li
                                        span Бурение скважин на воду
                                    li
                                        span Скважин для тех. воды
                                    li
                                        span Артезианских скважин
                                    li
                                        span Обустройство скважин
                                    li
                                        span Водоснабжение под ключ

                        .col-lg-3.col-sm-6
                            .del-item.dop-item.dop-item-3
                                h3 аренда
                                    br
                                    |спецтехники
                                ol
                                    li
                                        span Аренда пикапа
                                    li
                                        span Газели
                                    li
                                        span Газа
                                    li
                                        span Зила 130
                                    li
                                        span Зила 131
                                    li
                                        span Камаза
                        .col-lg-3.col-sm-6
                            .del-item.dop-item.dop-item-4
                                h3 уборка снега
                                ol
                                    li
                                        span Уборка и вывоз снега
        section.kam-slider
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            h2 Доставку осуществляем своим траспортом
            ul#k-slider.gallery.content-slider.list-unstyled.clearfix
                li
                    .img-cont
                        img(src="img/raster/kamaz.png")
                li
                    .img-cont
                        img(src="img/raster/kamaz.png")
                li
                    .img-cont
                        img(src="img/raster/kamaz.png")
                li
                    .img-cont
                        img(src="img/raster/kamaz.png")
                li
                    .img-cont
                        img(src="img/raster/kamaz.png")
                li
                    .img-cont
                        img(src="img/raster/kamaz.png")
                li
                    .img-cont
                        img(src="img/raster/kamaz.png")
                li
                    .img-cont
                        img(src="img/raster/kamaz.png")
                li
                    .img-cont
                        img(src="img/raster/kamaz.png")
                li
                    .img-cont
                        img(src="img/raster/kamaz.png")

        section.snab
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .snab-content
                                h1 снабжаем строительные
                                    br
                                    |  объекты
                                    br
                                    span  в ижевске и по удмуртии
                                img(src="img/raster/kamsm.png")
        section.pay
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            h2 оплата услуг по факту
                                br
                                |удобным для вас способом
                    .row
                        .col-sm-6
                            .pay-item.pay-item-1
                                img(src="../img/raster/pay1.png")
                                h4 наличными
                        .col-sm-6
                            .pay-item.pay-item-2
                                img(src="../img/raster/pay2.png")
                                h4 банковской картой
        section.pre-footer
            .inner
                .container-fluid
                    .row
                        .col-md-6
                            h1 остались вопросы?
                                br
                                span получите консультацию
                                br
                                span прямо сейчас
                        .col-md-6
                            .form-pink.form-block
                                form.form-shake
                                    .field
                                        input(type="text" name="name" placeholder="Имя" required=)
                                    .field
                                        input(type="text" name="phone" placeholder="Телефон для связи" required=)
                                    button.btn.btn-red(name="send") получить консультацию
        include _footer